.title-wrapper {
    text-align: center;
    width: 420px;
    margin: 0 auto 2rem !important;

    .page-title {
        background-color: rgba(255, 255, 178, 0.8);
        border-radius: 30px;
        letter-spacing: 2px;
        font-size: 1.5rem;
    }
}


.main-body {
    width: 720px;
    padding: 40px 20px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.form-input {
    margin-bottom: 20px;

    .label-text {
        text-align: left;
        width: 80%
    }

    .input-wrapper {

        .input-text {
            font-size: 1rem;
            width: 80%;
            height: 2rem;
            border: 1px solid #8c8c8c;
            border-radius: 4px;
        }
    }
}

.btn-submit {
    background-color: rgba(52, 144, 220, 0.5);
    border-radius: 5px;
    width: 60%;
    line-height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;

    &:hover {
        background-color: rgba(52, 144, 220, 0.25);
    }
}