.btn-signup {
    margin-top: 20px;
    line-height: 40px;
    width: 50%;
    border-radius: 30px;
    background-color: rgba(145, 244, 133, 0.7);
}

.invalid-feedback {
    display: block !important;
}

.register-body {
    width: 720px;
    margin: 0 auto;
}

.check-wrapper {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .input-checkbox {
        width: 110px;
        text-align: left;

        input {
            position: relative;
            top: 2px;
            margin-right: 3px;
        }
    }
}