a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit !important;
        text-decoration: none !important;
    }
}

.bold {
    font-weight: 600;
}

.mobile {

    @include mq('mobile') {
        width: 100% !important;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    background-color: #e9ecef;
    box-shadow: 0 1px 6px 0 black;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;

    @include mq('mobile') {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .navbar-content {
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding-left: 10%;
        height: 55px;

        @include mq('mobile') {
            width: 100%;
            padding-left: 2%;
            height: 40px;
        }

        .navbar-title {
            color: black;
            line-height: 55px;
            display: inline-block;
            margin-right: 1rem;
            font-size: large;
            font-weight: 600;

            @include mq('mobile') {
                margin-right: 0;
                font-size: medium;
                line-height: 40px;
            }
        }
    }

    .nav-list {
        list-style: none;
        display: flex;
        line-height: 55px;
        align-items: center;
        margin-bottom: 0;

        @include mq('mobile') {
            padding: 0;
            margin-right: 3%;
        }

        .nav-item {
            text-align: center;
            font-size: large;

            #guest-login-form button {
                border: none;
                background: none;
                outline: none;
            }

            @include mq('mobile') {
                font-size: medium;
            }
            
            &.nav-dropdown {
                width: 120px;
                height: 55px;

                &.nav-admin {
                    width: 160px;
                }

                @include mq('mobile') {
                    padding-right: 10%;
                }
            }

            .btn-dropdown {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .nav-link {
                
                @include mq('mobile') {
                    padding: 0.2rem 0.2rem;
                    font-size: 0.5rem;
                }
            }
            
            .navbar-dropdown {
                position: relative;
                background-color: rgba(0, 0, 0, 0.1);
                padding: 15px 10px;
                line-height: 30px;
                border-radius: 8px;
                letter-spacing: 1px;
                display: none;

                @include mq('mobile') {
                    padding: 0;
                }

                &.open {
                    display: block;
                }

                .link-mypage:hover {
                    background-color: rgba(255, 255, 255, 0.75);
                }

                .dropdown-logout .btn-logout {
                    border: none;
                    background: none;
                    letter-spacing: 1px;
                    outline: 0;
                    padding: 0 !important;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.75);
                    }
                }
            }
        }
    }
}

footer {
    position: relative;
    text-align: center;
    height: 50px;
    background-color: darkblue;

    p {
        color: aliceblue;
        line-height: 50px;
    }
}